<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-title">Welcome Admin!</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item active">Dashboard</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
            <div class="card dash-widget">
                <div class="card-body">
                    <span class="dash-widget-icon"><i class="fa fa-product-hunt"></i></span>
                    <div class="dash-widget-info">
                        <h3>{{products.length}}</h3>
                        <span>Products</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
            <div class="card dash-widget">
                <div class="card-body">
                    <span class="dash-widget-icon">
                      <i class = 'fa fa-balance-scale'></i>
                      </span>
                    <div class="dash-widget-info">
                        <h3>{{farmers.length}}</h3>
                        <span>Farmers</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
            <div class="card dash-widget">
                <div class="card-body">
                    <span class="dash-widget-icon"><i class="fa fa-briefcase"></i></span>
                    <div class="dash-widget-info">
                        <h3>{{organizations.length}}</h3>
                        <span>Organizations</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
            <div class="card dash-widget">
                <div class="card-body">
                    <span class="dash-widget-icon"><i class="fa fa-users"></i></span>
                    <div class="dash-widget-info">
                        <h3>{{users.length}}</h3>
                        <span>All users</span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 text-center">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Total Subsidies</h3>
                            <div mk-morris-js [options]="chartOptions" [data]="chartData" type="Bar">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 text-center">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Sales</h3>
                            <div mk-morris-js [options]="lineOption" [data]="lineData" type="Line"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="m-b-30 row justify-content-around">
                <div class="card col-md-5">
                    <div class="card-body">
                        <div class="d-flex justify-content-between mb-3">
                            <div>
                                <span class="d-block">New Products</span>
                            </div>
                            <div>
                                <span class="text-success">+100%</span>
                            </div>
                        </div>
                        <h3 class="mb-3">10</h3>
                        <div class="progress mb-2" style="height: 5px;">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 70%;"
                                aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="mb-0">Overall products {{products.length}} </p>
                    </div>
                </div>

                <div class="card col-md-5">
                    <div class="card-body">
                        <div class="d-flex justify-content-between mb-3">
                            <div>
                                <span class="d-block">Subsidy</span>
                            </div>
                            <div>
                                <span class="text-success">+200%</span>
                            </div>
                        </div>
                        <h3 class="mb-3">{{subsidyTotal}}</h3>
                        <div class="progress mb-2" style="height: 5px;">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 70%;"
                                aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="mb-0">Previous Month <span class="text-muted">0</span></p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 d-flex">
            <div class="card card-table flex-fill">
                <div class="card-header">
                    <h3 class="card-title mb-0">Invoices</h3>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-nowrap custom-table mb-0">
                            <thead>
                                <tr>
                                    <th>Invoice ID</th>
                                    <th>Client</th>
                                    <th>Due Date</th>
                                    <th>Total</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a routerLink="/layout/accounts/invoice-view">#INV-0001</a></td>
                                    <td>
                                        <h2><a>Global Technologies</a></h2>
                                    </td>
                                    <td>11 Mar 2019</td>
                                    <td>$380</td>
                                    <td>
                                        <span class="badge bg-inverse-warning">Partially Paid</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a routerLink="/layout/accounts/invoice-view">#INV-0002</a></td>
                                    <td>
                                        <h2><a>Delta Infotech</a></h2>
                                    </td>
                                    <td>8 Feb 2019</td>
                                    <td>$500</td>
                                    <td>
                                        <span class="badge bg-inverse-success">Paid</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a routerLink="/layout/accounts/invoice-view">#INV-0003</a></td>
                                    <td>
                                        <h2><a>Cream Inc</a></h2>
                                    </td>
                                    <td>23 Jan 2019</td>
                                    <td>$60</td>
                                    <td>
                                        <span class="badge bg-inverse-danger">Unpaid</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer">
                    <a routerLink="/layout/invoice/invoicelist">View all invoices</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 d-flex">
            <div class="card card-table flex-fill">
                <div class="card-header">
                    <h3 class="card-title mb-0">Payments</h3>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table custom-table table-nowrap mb-0">
                            <thead>
                                <tr>
                                    <th>Invoice ID</th>
                                    <th>Client</th>
                                    <th>Payment Type</th>
                                    <th>Paid Date</th>
                                    <th>Paid Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a routerLink="/layout/accounts/invoice-view">#INV-0001</a></td>
                                    <td>
                                        <h2><a>Global Technologies</a></h2>
                                    </td>
                                    <td>Paypal</td>
                                    <td>11 Mar 2019</td>
                                    <td>$380</td>
                                </tr>
                                <tr>
                                    <td><a routerLink="/layout/accounts/invoice-view">#INV-0002</a></td>
                                    <td>
                                        <h2><a>Delta Infotech</a></h2>
                                    </td>
                                    <td>Paypal</td>
                                    <td>8 Feb 2019</td>
                                    <td>$500</td>
                                </tr>
                                <tr>
                                    <td><a routerLink="/layout/accounts/invoice-view">#INV-0003</a></td>
                                    <td>
                                        <h2><a>Cream Inc</a></h2>
                                    </td>
                                    <td>Paypal</td>
                                    <td>23 Jan 2019</td>
                                    <td>$60</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer">
                    <a routerLink="/layout/payment/paymentllist">View all payments</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 d-flex">
            <div class="card card-table flex-fill">
                <div class="card-header">
                    <h3 class="card-title mb-0">Clients</h3>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table custom-table mb-0">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Status</th>
                                    <th class="text-end">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <h2 class="table-avatar">
                                            <a routerLink="/layout/employees/employeeprofile" class="avatar"><img alt=""
                                                    src="assets/img/profiles/avatar-5.jpg"></a>
                                            <a routerLink="/layout/employees/employeeprofile">Barry Cuda <span>CEO</span></a>
                                        </h2>
                                    </td>
                                    <td>barrycuda@example.com</td>
                                    <td>
                                        <div class="dropdown action-label">
                                            <a class="btn btn-white btn-sm btn-rounded dropdown-toggle"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="fa fa-dot-circle-o text-success"></i> Active
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item"><i class="fa fa-dot-circle-o text-success"></i>
                                                    Active</a>
                                                <a class="dropdown-item"><i class="fa fa-dot-circle-o text-danger"></i>
                                                    Inactive</a>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-end">
                                        <div class="dropdown dropdown-action">
                                            <a class="action-icon dropdown-toggle" data-bs-toggle="dropdown"
                                                aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="javascript:void(0)"><i
                                                        class="fa fa-pencil m-r-5"></i> Edit</a>
                                                <a class="dropdown-item" href="javascript:void(0)"><i
                                                        class="fa fa-trash-o m-r-5"></i> Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h2 class="table-avatar">
                                            <a routerLink="/layout/employees/employeeprofile" class="avatar"><img alt=""
                                                    src="assets/img/profiles/avatar-11.jpg"></a>
                                            <a routerLink="/layout/employees/employeeprofile">Tressa Wexler
                                                <span>Manager</span></a>
                                        </h2>
                                    </td>
                                    <td>tressawexler@example.com</td>
                                    <td>
                                        <div class="dropdown action-label">
                                            <a class="btn btn-white btn-sm btn-rounded dropdown-toggle"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="fa fa-dot-circle-o text-danger"></i> Inactive
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item"><i class="fa fa-dot-circle-o text-success"></i>
                                                    Active</a>
                                                <a class="dropdown-item"><i class="fa fa-dot-circle-o text-danger"></i>
                                                    Inactive</a>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-end">
                                        <div class="dropdown dropdown-action">
                                            <a class="action-icon dropdown-toggle" data-bs-toggle="dropdown"
                                                aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="javascript:void(0)"><i
                                                        class="fa fa-pencil m-r-5"></i> Edit</a>
                                                <a class="dropdown-item" href="javascript:void(0)"><i
                                                        class="fa fa-trash-o m-r-5"></i> Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h2 class="table-avatar">
                                            <a routerLink="/layout/employees/employeeprofile" class="avatar"><img alt=""
                                                    src="assets/img/profiles/avatar-7.jpg"></a>
                                            <a routerLink="/layout/employees/employeeprofile">Ruby Bartlett
                                                <span>CEO</span></a>
                                        </h2>
                                    </td>
                                    <td>rubybartlett@example.com</td>
                                    <td>
                                        <div class="dropdown action-label">
                                            <a class="btn btn-white btn-sm btn-rounded dropdown-toggle"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="fa fa-dot-circle-o text-danger"></i> Inactive
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item"><i class="fa fa-dot-circle-o text-success"></i>
                                                    Active</a>
                                                <a class="dropdown-item"><i class="fa fa-dot-circle-o text-danger"></i>
                                                    Inactive</a>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-end">
                                        <div class="dropdown dropdown-action">
                                            <a class="action-icon dropdown-toggle" data-bs-toggle="dropdown"
                                                aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="javascript:void(0)"><i
                                                        class="fa fa-pencil m-r-5"></i> Edit</a>
                                                <a class="dropdown-item" href="javascript:void(0)"><i
                                                        class="fa fa-trash-o m-r-5"></i> Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h2 class="table-avatar">
                                            <a routerLink="/layout/employees/employeeprofile" class="avatar"><img alt=""
                                                    src="assets/img/profiles/avatar-6.jpg"></a>
                                            <a routerLink="/layout/employees/employeeprofile"> Misty Tison <span>CEO</span></a>
                                        </h2>
                                    </td>
                                    <td>mistytison@example.com</td>
                                    <td>
                                        <div class="dropdown action-label">
                                            <a class="btn btn-white btn-sm btn-rounded dropdown-toggle"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="fa fa-dot-circle-o text-success"></i> Active
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item"><i class="fa fa-dot-circle-o text-success"></i>
                                                    Active</a>
                                                <a class="dropdown-item"><i class="fa fa-dot-circle-o text-danger"></i>
                                                    Inactive</a>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-end">
                                        <div class="dropdown dropdown-action">
                                            <a class="action-icon dropdown-toggle" data-bs-toggle="dropdown"
                                                aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="javascript:void(0)"><i
                                                        class="fa fa-pencil m-r-5"></i> Edit</a>
                                                <a class="dropdown-item" href="javascript:void(0)"><i
                                                        class="fa fa-trash-o m-r-5"></i> Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h2 class="table-avatar">
                                            <a routerLink="/layout/employees/employeeprofile" class="avatar"><img alt=""
                                                    src="assets/img/profiles/avatar-14.jpg"></a>
                                            <a routerLink="/layout/employees/employeeprofile"> Daniel Deacon
                                                <span>CEO</span></a>
                                        </h2>
                                    </td>
                                    <td>danieldeacon@example.com</td>
                                    <td>
                                        <div class="dropdown action-label">
                                            <a class="btn btn-white btn-sm btn-rounded dropdown-toggle"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="fa fa-dot-circle-o text-danger"></i> Inactive
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item"><i class="fa fa-dot-circle-o text-success"></i>
                                                    Active</a>
                                                <a class="dropdown-item"><i class="fa fa-dot-circle-o text-danger"></i>
                                                    Inactive</a>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-end">
                                        <div class="dropdown dropdown-action">
                                            <a class="action-icon dropdown-toggle" data-bs-toggle="dropdown"
                                                aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="javascript:void(0)"><i
                                                        class="fa fa-pencil m-r-5"></i> Edit</a>
                                                <a class="dropdown-item" href="javascript:void(0)"><i
                                                        class="fa fa-trash-o m-r-5"></i> Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer">
                    <a routerLink="/layout/clients/clientspage">View all clients</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 d-flex">
            <div class="card card-table flex-fill">
                <div class="card-header">
                    <h3 class="card-title mb-0">Recent Projects</h3>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table custom-table mb-0">
                            <thead>
                                <tr>
                                    <th>Project Name </th>
                                    <th>Progress</th>
                                    <th class="text-end">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <h2><a routerLink="/layout/projects/projectview">Office Management</a></h2>
                                        <small class="block text-ellipsis">
                                            <span>1</span> <span class="text-muted">open tasks, </span>
                                            <span>9</span> <span class="text-muted">tasks completed</span>
                                        </small>
                                    </td>
                                    <td>
                                        <div class="progress progress-xs progress-striped">
                                            <div class="progress-bar" role="progressbar" data-bs-toggle="tooltip"
                                                title="65%" style="width: 65%"></div>
                                        </div>
                                    </td>
                                    <td class="text-end">
                                        <div class="dropdown dropdown-action">
                                            <a class="action-icon dropdown-toggle" data-bs-toggle="dropdown"
                                                aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="javascript:void(0)"><i
                                                        class="fa fa-pencil m-r-5"></i> Edit</a>
                                                <a class="dropdown-item" href="javascript:void(0)"><i
                                                        class="fa fa-trash-o m-r-5"></i> Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h2><a routerLink="/layout/projects/projectview">Project Management</a></h2>
                                        <small class="block text-ellipsis">
                                            <span>2</span> <span class="text-muted">open tasks, </span>
                                            <span>5</span> <span class="text-muted">tasks completed</span>
                                        </small>
                                    </td>
                                    <td>
                                        <div class="progress progress-xs progress-striped">
                                            <div class="progress-bar" role="progressbar" data-bs-toggle="tooltip"
                                                title="15%" style="width: 15%"></div>
                                        </div>
                                    </td>
                                    <td class="text-end">
                                        <div class="dropdown dropdown-action">
                                            <a class="action-icon dropdown-toggle" data-bs-toggle="dropdown"
                                                aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="javascript:void(0)"><i
                                                        class="fa fa-pencil m-r-5"></i> Edit</a>
                                                <a class="dropdown-item" href="javascript:void(0)"><i
                                                        class="fa fa-trash-o m-r-5"></i> Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h2><a routerLink="/layout/projects/projectview">Video Calling App</a></h2>
                                        <small class="block text-ellipsis">
                                            <span>3</span> <span class="text-muted">open tasks, </span>
                                            <span>3</span> <span class="text-muted">tasks completed</span>
                                        </small>
                                    </td>
                                    <td>
                                        <div class="progress progress-xs progress-striped">
                                            <div class="progress-bar" role="progressbar" data-bs-toggle="tooltip"
                                                title="49%" style="width: 49%"></div>
                                        </div>
                                    </td>
                                    <td class="text-end">
                                        <div class="dropdown dropdown-action">
                                            <a class="action-icon dropdown-toggle" data-bs-toggle="dropdown"
                                                aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="javascript:void(0)"><i
                                                        class="fa fa-pencil m-r-5"></i> Edit</a>
                                                <a class="dropdown-item" href="javascript:void(0)"><i
                                                        class="fa fa-trash-o m-r-5"></i> Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h2><a routerLink="/layout/projects/projectview">Hospital Administration</a></h2>
                                        <small class="block text-ellipsis">
                                            <span>12</span> <span class="text-muted">open tasks, </span>
                                            <span>4</span> <span class="text-muted">tasks completed</span>
                                        </small>
                                    </td>
                                    <td>
                                        <div class="progress progress-xs progress-striped">
                                            <div class="progress-bar" role="progressbar" data-bs-toggle="tooltip"
                                                title="88%" style="width: 88%"></div>
                                        </div>
                                    </td>
                                    <td class="text-end">
                                        <div class="dropdown dropdown-action">
                                            <a class="action-icon dropdown-toggle" data-bs-toggle="dropdown"
                                                aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="javascript:void(0)"><i
                                                        class="fa fa-pencil m-r-5"></i> Edit</a>
                                                <a class="dropdown-item" href="javascript:void(0)"><i
                                                        class="fa fa-trash-o m-r-5"></i> Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h2><a routerLink="/layout/projects/projectview">Digital Marketplace</a></h2>
                                        <small class="block text-ellipsis">
                                            <span>7</span> <span class="text-muted">open tasks, </span>
                                            <span>14</span> <span class="text-muted">tasks completed</span>
                                        </small>
                                    </td>
                                    <td>
                                        <div class="progress progress-xs progress-striped">
                                            <div class="progress-bar" role="progressbar" data-bs-toggle="tooltip"
                                                title="100%" style="width: 100%"></div>
                                        </div>
                                    </td>
                                    <td class="text-end">
                                        <div class="dropdown dropdown-action">
                                            <a class="action-icon dropdown-toggle" data-bs-toggle="dropdown"
                                                aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="javascript:void(0)"><i
                                                        class="fa fa-pencil m-r-5"></i> Edit</a>
                                                <a class="dropdown-item" href="javascript:void(0)"><i
                                                        class="fa fa-trash-o m-r-5"></i> Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer">
                    <a routerLink="/layout/projects/projectpage">View all projects</a>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /Page Content -->
