<!-- Page Content -->
<div class="content container-fluid">

  <!-- Page Header -->
  <div class="page-header" style="margin-top: 30px">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title">Manage Cropcuts</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/layout/dashboard/admin">Dashboard</a></li>
          <li class="breadcrumb-item active">Cropcuts</li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3 col-12" style="margin-right: -5em">
        <div class="view-icons" style="float: right;">
          <a href="#" class="grid-view btn btn-link"><i class="fa fa-th"></i></a>
          <a href="#" class="list-view btn btn-link active"><i class="fa fa-bars"></i></a>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3 col-12">
        <a class="btn btn-success" data-bs-toggle="modal" data-bs-target="#add_cropcuts" style="background-color: #078ece;border: 1px solid #078ece;border-radius: 50px;color: #fff;float: right;font-weight: 500;min-width: 140px;"><i
          class="fa fa-plus"></i> Add Crop Cuts Project</a>
      </div>
    </div>
  </div>
  <!-- /Page Header -->

  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table  datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id = "datatable" class="table table-striped custom-table mb-0 datatable">
          <thead>
          <tr>
            <th>Project Name</th>
            <th>Partner Organization</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>CC Size</th>
            <th>Region</th>
            <th>Status</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let cropcuts of cropcuts;let i = index">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr *ngIf="cropcuts.length === 0">
            <td colspan="7">
              <h5 style="text-align: center;">No data found</h5>
            </td>

          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- /Page Content -->

<!-- Add Contract Review Modal -->
<div id="add_cropcuts" class="modal custom-modal fade" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" style="border-bottom: 1px solid #dee2e6;">
        <h5 class="modal-title"> Add New Cropcuts Project</h5>
        <hr>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="addCropcuts()" [formGroup]="addCropcutsForm">
          <div class="row">
            <div class="form-group">
              <label>Partner Organization</label>
              <select class="form-select form-control"
                      [class.invalid]="addCropcutsForm.get('partnerOrg').invalid && addCropcutsForm.get('partnerOrg').touched"
                      formControlName="partnerOrg">
                <option></option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <label>Project Name</label>
              <span class="text-danger" style="padding-left: 5px">*</span>
              <input class="form-control" type="text" [class.invalid]="addCropcutsForm.get('projectName').invalid && addCropcutsForm.get('projectName').touched"
                     formControlName="projectName">
              <div
                *ngIf="addCropcutsForm.get('projectName').invalid && addCropcutsForm.get('projectName').touched">
                <small
                  *ngIf="addCropcutsForm.get('projectName').invalid && addCropcutsForm.get('projectName').touched"
                  class="text-danger"> *Item name is required</small>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Start Date</label>
              <div class="form-group form-focus">
                <div class="cal-icon">
                  <input class="form-control datetimepicker" type="text" bsDatepicker type="text"
                         [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY',  returnFocusToInput: true }"
                         [class.invalid]="addCropcutsForm.get('contractStartDate').invalid && addCropcutsForm.get('contractStartDate').touched"
                         formControlName="contractStartDate">
                </div>
                <div
                  *ngIf="addCropcutsForm.get('StartDate').invalid && addCropcutsForm.get('StartDate').touched">
                  <small
                    *ngIf="addCropcutsForm.get('StartDate').invalid && addCropcutsForm.get('StartDate').touched"
                    class="text-danger"> *Start Date is required</small>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <label>End Date</label>
              <span class="text-danger" style="padding-left: 5px">*</span>
              <div class="form-group form-focus">
                <div class="cal-icon">
                  <input class="form-control datetimepicker" type="text" bsDatepicker type="text"
                         [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY',  returnFocusToInput: true }"
                         [class.invalid]="addCropcutsForm.get('contractEndDate').invalid && addCropcutsForm.get('contractEndDate').touched"
                         formControlName="contractEndDate">
                </div>
                <div
                  *ngIf="addCropcutsForm.get('EndDate').invalid && addCropcutsForm.get('EndDate').touched">
                  <small
                    *ngIf="addCropcutsForm.get('EndDate').invalid && addCropcutsForm.get('EndDate').touched"
                    class="text-danger"> *Date is required</small>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Crop</label>
                <span class="text-danger" style="padding-left: 5px">*</span>
                <input class="form-control" type="text" [class.invalid]="addCropcutsForm.get('cropName').invalid && addCropcutsForm.get('cropName').touched"
                       formControlName="cropName">
                <div
                  *ngIf="addCropcutsForm.get('cropName').invalid && addCropcutsForm.get('cropName').touched">
                  <small
                    *ngIf="addCropcutsForm.get('cropName').invalid && addCropcutsForm.get('cropName').touched"
                    class="text-danger"> *Item name is required</small>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>CC Size</label>
                <span class="text-danger" style="padding-left: 5px">*</span>
                <input class="form-control" type="text" [class.invalid]="addCropcutsForm.get('ccSize').invalid && addCropcutsForm.get('ccSize').touched"
                       formControlName="ccSize">
                <div
                  *ngIf="addCropcutsForm.get('ccSize').invalid && addCropcutsForm.get('ccSize').touched">
                  <small
                    *ngIf="addCropcutsForm.get('ccSize').invalid && addCropcutsForm.get('ccSize').touched"
                    class="text-danger"> *Item ccSize is required</small>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Province</label>
                <select class="form-select form-control"
                        [class.invalid]="addCropcutsForm.get('provinceName').invalid && addCropcutsForm.get('provinceName').touched"
                        formControlName="provinceName">
                  <option>Select Province</option>
                  <option>Kigali Province</option>
                  <option>The Northern Province</option>
                  <option>The Southern Province</option>
                  <option>The Eastern Province</option>
                  <option>The Western Province</option>
                </select>
                <div
                  *ngIf="addCropcutsForm.get('provinceName').invalid && addCropcutsForm.get('provinceName').touched">
                  <small
                    *ngIf="addCropcutsForm.get('provinceName').invalid && addCropcutsForm.get('provinceName').touched"
                    class="text-danger"> *Province Name is required</small>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>District</label>
                <span class="text-danger" style="padding-left: 5px">*</span>
                <select class="form-select form-control"
                        [class.invalid]="addCropcutsForm.get('districtName').invalid && addCropcutsForm.get('districtName').touched"
                        formControlName="districtName">
                  <option>Please select Province first</option>
                  <option>Kigali Province</option>
                  <option>The Northern Province</option>
                  <option>The Southern Province</option>
                  <option>The Eastern Province</option>
                  <option>The Western Province</option>
                </select>
                <div
                  *ngIf="addCropcutsForm.get('districtName').invalid && addCropcutsForm.get('districtName').touched">
                  <small
                    *ngIf="addCropcutsForm.get('districtName').invalid && addCropcutsForm.get('districtName').touched"
                    class="text-danger"> *District Name is required</small>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button class="btn btn-primary" (click)="addCropcuts()">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Add Contract Review Modal -->
