<div class="account-content">
  <div class="container">
    <!-- Account Logo -->
    <div class="account-logo">
      <a href="javascript:"
        ><img src="assets/img/logo2.png" alt="Dreamguy's Technologies"
      /></a>
    </div>
    <!-- /Account Logo -->

    <div class="account-box">
      <div class="account-wrapper">
        <h3 class="account-title">Login</h3>
        <p class="account-subtitle">Access to our dashboard</p>

        <!-- Account Form -->
        <form [formGroup]="form" (ngSubmit)="submit()">
          <div class="form-group">
            <label>Username</label>
            <input class="form-control" type="text" formControlName="username" id="username" [ngClass]="{'is-invalid': f['username'].touched && f['username'].invalid}"/>
<!--            <div class="text-danger" *ngIf="CustomControler ?.status === 'username'">-->
<!--                {{ CustomControler.message }}-->
<!--            </div>-->
            <div *ngIf="f['username'].touched && f['username'].invalid" class="text-danger">
                <div *ngIf="f['username'].errors && f['username'].errors['required']">Email is required.</div>
                <div *ngIf="f['username'].errors && f['username'].errors['username']">
                    Please, enter valid username address.
                </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col">
                <label>Password</label>
              </div>
              <div class="col-auto">
                <a class="text-muted" routerLink="/login/forgot">
                  Forgot password?
                </a>
              </div>
            </div>
              <div class="position-relative">
                <input class="form-control" [type]="Toggledata ? 'password' : 'text'" formControlName="password" id="password" [ngClass]="{'is-invalid': f['password'].touched && f['password'].invalid}"/>
                <span [ngClass]="Toggledata == true ? 'fa toggle-password fa-eye' : 'fa toggle-password fa-eye-slash'" (click)="iconLogle()"></span>
            </div>
            <div *ngIf="f['password'].touched && f['password'].invalid" class="text-danger">
                <div *ngIf="f['password'].errors && f['password'].errors['required']">
                Password is required.
                </div>
            </div>
            <div class="text-danger" *ngIf="CustomControler ?.status === 'password'">{{ CustomControler.message }}</div>
          </div>
          <div>
            <div class="text-danger">{{ loginError}}</div>
          </div>
          <div class="form-group text-center">
            <button class="btn btn-primary account-btn" [disabled]="form.invalid" type="submit">Login</button>
          </div>
          <div class="account-footer">
            <p>Don't have an account yet? <a routerLink="/login/register">Register</a></p>
          </div>
        </form>
        <!-- /Account Form -->
      </div>
    </div>
  </div>
</div>
