<div>
    <!-- Page Wrapper -->
    <div class="page-wrapper">
      <!-- Page Content -->
      <div class="content container-fluid">
  
        <!-- Page Header -->
        <div class="page-header" style="margin-top: 10px">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="page-title">Historical Data</h3>
              <ul class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/layout/dashboard/admin">Dashboard</a></li>
                <li class="breadcrumb-item active">Historical Data</li>
              </ul>
            </div>
          </div>
        </div>
        <!-- /Page Header -->
  
        <!-- Search Filter -->
        <div class="row filter-row">
          <div class="col-3" style="margin-right: -1em">
            <div class="form-group form-focus">
              <input type="text" class="form-control floating" (input)="searchName($event.target.value)" (focusout) = "rerender()">
              <label class="focus-label">District</label>
            </div>
          </div>
          <div class="col-3" style="margin-right: -1em">
            <div class="form-group form-focus">
              <div class="cal-icon">
                <input class="form-control floating datetimepicker" type="text" bsDatepicker type="text"  [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY',  returnFocusToInput: true }" (bsValueChange)="searchByFrom($event)">
              </div>
              <label class="focus-label">From</label>
            </div>
          </div>
          <div class="col-3" style="margin-right: -1em">
            <div class="form-group form-focus">
              <div class="cal-icon">
                <input class="form-control floating datetimepicker" bsDatepicker type="text" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY',  returnFocusToInput: true }" (bsValueChange)="searchByTo($event)">
              </div>
              <label class="focus-label">To</label>
            </div>
          </div>
          <div class="col-1" style="margin-right: 3px">
            <a href="#" class="btn btn-success btn-block" style="float: left"> Search </a>
          </div>
          <div class="col-1">
            <a href="/minagri/API_Data.xlsx" class="btn btn-default btn-block" style="background-color: white;height: 30px;width: 5em"><i class="fa fa-download"></i> File </a>
          </div>
          <div class="col-1" style="margin-left: -3px">
            <a href="#" data-toggle="modal" data-target="#exampleModal" class="btn btn-primary btn-block" style="background-color: #078ece;width:7em;height: 30px;border: 1px solid #078ece;">
              <i class="fa fa-upload"></i> Upload </a>
          </div>
        </div>
        <!-- /Search Filter -->
  
        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive">
              <table  datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id = "datatable" class="table table-striped custom-table mb-0 datatable">
                <thead>
                <tr>
                  <th>#</th>
                  <th>District</th>
                  <th>Season</th>
                  <th>Rainfall Range</th>
                  <th>Onset Date</th>
                  <th>Cessation Date</th>
                  <th>Advisory</th>
                  <th>Upload Date</th>
                  <th>Uploaded By</th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of historical;let i = index">
                        <td>{{item.id}}</td>
                        <td>{{item.district}}</td>
                        <td>{{item.season}}</td>
                        <td>{{item.rainfallrange}}</td>
                        <td>{{item.onsetdate}}</td>
                        <td>{{item.cessationdate}}</td>
                        <td>{{item.advisory}}</td>
                        <td>{{item.uploaddate}}</td>
                        <td>{{item.uploadedby}}</td>
                    </tr>
                    <tr *ngIf="historical?.length === 0">
                      <td colspan="9">
                        <h5 style="text-align: center;">No data found</h5>
                      </td>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- /Page Content -->
    </div>
    <!-- /Page Wrapper -->
  </div>
  